.i-gs-img{
    display: block;
    max-width: 100px;
    margin: auto auto 10px ;
}
.i-gs-grid-heading {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 2.8;
}
.i-gs-grid-subheading {
    text-align: center;
    line-height: 1.4;
    opacity: .8;
    margin-bottom: 10px;
}
.i-gs-section-title {
    display: block;
    line-height: 3;
    font-size: 18px;
    font-weight: 500;
}


.order-analytics-wrapper h5 {
    text-align: center;
    font-size: 1.6rem;
} 

.order-analytics-wrapper {
    line-height: 2;
}

.order-analytics-wrapper p {
    text-align: center;
    font-size: .9rem;
    opacity: .8;
    text-transform: capitalize;
}

span.curecnySymbol {
    padding: .1rem .2rem .1rem .1rem;
    font-size: 1.6rem;
    opacity: .9;
}