.i-gs-img{
    display: block;
    max-width: 100px;
    margin: auto auto 10px ;
}
.i-gs-grid-heading {
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 2.8;
}
.i-gs-grid-subheading {
    text-align: center;
    line-height: 1.4;
    opacity: .8;
    margin-bottom: 10px;
}
.i-gs-section-title {
    display: block;
    line-height: 3;
    font-size: 18px;
    font-weight: 500;
}


.order-analytics-wrapper h5 {
    text-align: center;
    font-size: 1.2rem;
} 

.order-analytics-wrapper {
    line-height: 2;
}

.order-analytics-wrapper p {
    text-align: center;
    font-size: .7rem;
    opacity: .8;
    text-transform: capitalize;
}

span.curecnySymbol {
    padding: .1rem .2rem .1rem .1rem;
    font-size: 1.3rem;
    opacity: .9;
    vertical-align: middle;
}

.custom-antd-textarea{width: 100%;}


/* ------------------------------------ */


/* Grid Container */
/* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto); 
    column-gap: 24px; 
    padding: 20px;
    row-gap: 18px;
    background: #fff;
    padding: 16px;
    border-radius: 6px;
  } */
  /* .column-title {
    font-size: .9rem;
    text-transform: capitalize;
    margin-bottom: 10px;
    opacity: .8;
}
  
  
  .grid-item {
    background: #fff; 
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #e4e4e4; 
  }
   */
 
  /* .column-title {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
  }
  
 
  .color-picker-container {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  } */
  

  /* .ant-color-picker-trigger {
    width: 100%;

  }
  
  .grid-item {
    padding: 15px;
}

.column-title {
    font-size: .9rem;
    text-transform: capitalize;
    margin-bottom: 10px;
    opacity: .8;
}
.grid-items {
    padding: 2rem;
    border: 1px solid #eee;
} */

/* .color-picker-container > div {
    width: auto;
    border: 1px solid #eee;
    padding: 4px 8px;
}

  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr 1fr; 
    }
  } */
   

/* 
  .custom-product-search, .custom-collection  {
    width: 70%;
    margin: auto;
} */


.Polaris-Button--textAlignCenter{margin: 2px !important;}
.column-title {
    font-size: .9rem;
    padding-bottom: 6px;
    text-transform: capitalize;
    opacity: .8;
}
.column-title +div{
    margin-bottom: 10px;
}